@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#chapter-7 footer > p:nth-child(n+2){
	text-align: initial;
}

#chapter-8 i:last-of-type{
	text-transform: uppercase;
}

#chapter-17 blockquote header p:last-of-type{
	font-style: italic;
	font-variant: normal;
}
